// color variables
$white: #FFFFFF;
$black: #000000;
$text-dark: #2e2e2e;
$text-normal: #b2b2b2;
$text-light: #e5e5e5;
$background: #d3d3d3;
$background-light: #dedede;
$border: #474747;
$success: #00b909;
$warning: #bf0000;
