.connection {
  padding: 1em 26px;;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    color: $text-dark;
    font-size: .8em;
    font-weight: 600;
    padding: .75em 1.5em;
    text-align: center;
    border: 1px solid $border;
    border-radius: 2px;
    background-color: $background;
    background-image: none;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    appearance: none;
    margin-right: 1em;

    &:hover,
    &:active {
      background-color: $background-light;
      color: $text-dark;
    }

    &:focus {
      outline: none !important;
    }
  }
}