.header {
  width: 100%;
  border-bottom: 1px solid $border;
  padding: 1em 2em;

  &__title {
    font-size: 1.4em;
    margin-right: 2em;
  }

  &__status {

    &--open {
      color: $success;
    }

    &--closed {
      color: $warning;
    }
  }
}

@media only screen and (min-width: 780px) {
  .header {
    &__title {
      display: inline-block;
    }
  }
}