.panel {
  flex-grow: 1;
  width: 100%;
  height: 400px;
  border: 1px solid $border;
  box-sizing: border-box;
  padding: .5em 1.5em;
  overflow: auto;

  &__name {
    display: inline-block;
    font-size: 1.5em;
    color: $text-light;
    line-height: 2;
    margin-right: 1em;
  }

  &__currency {
    font-size: 1.5em;
    margin-right: 1em;
  }

  &__price {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 780px) {
  .panel {
    width: 50%;
  }
}

@media only screen and (min-width: 1180px) {
  .panel {
    width: 33.3333%;
  }
}

.table {
  width: 100%;
  margin-bottom: 1em;

  &__heading th {
    padding: 14px 0;
    color: $text-light;
    text-align: left;
  }
}

.bull {
  color: $success;
}

.bear {
  color: $warning;
}
